vti_encoding:SR|utf8-nl
vti_author:SR|ACAD\\eicher193000
vti_modifiedby:SR|RINGO\\Owner
vti_timelastmodified:TR|28 Oct 2011 03:28:26 -0000
vti_timecreated:TR|20 Oct 2011 18:23:58 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|ZenGarden/zengarden.htm
vti_nexttolasttimemodified:TW|28 Oct 2011 03:14:39 -0000
vti_cacheddtm:TX|28 Oct 2011 04:28:28 -0000
vti_filesize:IR|3229
vti_cachedlinkinfo:VX|S|images/background_tile.gif S|images/freedom.jpg S|images/graphic_designer.jpg S|images/confused.jpg S|images/CSS.gif
vti_cachedsvcrellinks:VX|FSUS|ZenGarden/images/background_tile.gif FSUS|ZenGarden/images/freedom.jpg FSUS|ZenGarden/images/graphic_designer.jpg FSUS|ZenGarden/images/confused.jpg FSUS|ZenGarden/images/CSS.gif
